*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.maincontainer{
    border:2px solid green
}
.navbarcontainer{
    border:2px solid red
}
.LeftnavbarContainer,
.MiddlenavbarContainer,
.RightenavbarContaine{
    border:2px solid blue
}
.MainContentContainer{
    border:2px solid black
}